.ChatMain
  .ChatHeader
    .ChatHeader__Left
      .ChatHeader__Group
        = @group.name
      .ChatHeader__Member
        Member : 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .ChatHeader__Rigth
      .ChatHeader__EditOut
        .ChatHeader__EditIn
          = link_to "Edit", edit_group_path(@group.id), class: "Editlink"
  .ChatMessage
    = render @messages
  .ChatFooter
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__Content
        = f.text_field :body, class: 'Form__Message', placeholder: 'type a message'
        = f.label :image, class: 'Form__Image' do
          = icon('far', 'image',class: "Form__Icon")
          = f.file_field :image, class: 'Form__File'
      = f.submit 'Send', class: 'Form__Submit'