.SideBar
  .SideHeader
    .SideHeader__UserList
      .SideHeader__UserName
        = current_user.name
      .SideHeader__IconList
        .SideHeader__Icons
          = link_to new_group_path, class: "SideHeader__IconGroup" do
            = icon('far', 'edit', class: "SideHeader__IconGroup--btn")
            %span<>
          = link_to edit_user_path(current_user), class: "SideHeader__IconEdit" do
            = icon('fas', 'cog', class: "SideHeader__IconEdit--btn")
  .SideGroup
    - current_user.groups.each do |group|
      .SideGroup__List
        = link_to group_messages_path(group) do
          .SideGroup__User
            = group.name
          .SideGroup__Massage
            = group.show_last_message